@model HostelPro.ModelView.HotelRoomBed
 
<div>

    
    <h3>Hostel DEtails</h3>
    <ul>
        <li>name oif the hostel</li>
        <li>address</li>
        <li>city</li>
        <li>email</li>
        <li>mobile #</li>
        <li>extra info</li>
        <li>
            imge map
        </li>
    </ul>
    <div id="map-canvas"></div>
   
    @*<h5>@Html.DisplayFor(m => m.Hostel.Name.Where()</h5>*@

       
    
      

</div>