
@{
    ViewBag.Title = "Thank_You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- =======================================================-->
    <div class="row">

        <div class="col-md-8">
    <h2>Thank You
        For your reservation


        </h2>
        </div>
    </div>
<!-- =======================================================-->
